.loginParent {
  margin: 0 auto;
  text-align:center;
}

hr.dottedDivider {
  background:transparent;
  border: 0 0 1px 0;
  border-style: dashed;
  margin:10px;
}

.alternateLogins {
  margin:0 auto;
  text-align:center;
  margin-top:10px;
  max-height:30px;
  line-height:30px;
}

#fb-root {
  display:inline;
  vertical-align:middle;
  position:relative;
  top:-9px;
}

.g-sigin {
  display:inline;
  vertical-align:middle;
}

.recoverText {
  font-size:11px;
}