.ui-state-hover, .ui-state-default, .ui-state-active {
  background-size:100% !important;
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('MontserratAlternates-Regular'), url(../fonts/z2n1Sjxk9souK3HCtdHukiVz4wwEV01Tv2kxNh88JXM.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: local('MontserratAlternates-Bold'), url(../fonts/YENqOGAVzwIHjYNjmKuAZgHIHA8NZDzxmj0AXZzWWdj3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}

html {
overflow-x:hidden;
overflow-y:scroll;
}

html, body {
  margin:0px;
  padding:0px;
  height:100%;
  box-sizing:border-box;
 
}

body {
  font-family : Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  background-color:#a7a5a4;
}

#logoWrapper {
  position:absolute;
  top:10px;
  left:10px;
  vertical-align:bottom;
  white-space:nowrap;
}
#logo {
  font-family: 'Montserrat Alternates', sans-serif !important;
  font-size:48px;
  display:inline-block;
  text-shadow:3px 4px 5px rgb(136, 80, 80);
}
#sublogo {
  display:inline-block;
  font-weight:bold;
  font-size:12px;
}


#mainContent {
  min-height:100%;
  margin-bottom:15px;
  overflow:hidden;
}

footer {
  position:absolute;
  width:100%;
  bottom:0px;
  height:15px;
  text-align:center;
  font-size:10px;
}

input[type=text],[type=password] {
  border-radius:5px;
  min-width:100px;
  border:1px solid gray;
  padding:2px;
}
input[type=text],[type=password]:focus {
  outline:0;
}

.alignCenter {
  text-align:center;
}
.alignRight {
  text-align:right;
}

.noDisplay {
  display:none;
}