div.characterRow {
  float:left;
  width:100%;
}
div.characterCellLeft {
  float:left;
  width:25%;
  text-align:right;
}
div.characterCellRight {
  float:left;
  width:75%;
  text-align:left;
}
div.characterParent {
  text-align:center;
  width:100%;
  height:100%;
  overflow:hidden;
  white-space:nowrap;
}
div#buttonDiv {
  float:left;
  width:75%;
  text-align:center;
}
div#characterError {
  text-align:center;
  width:75%;
  float:right;
  color:red;
}
div#characterRightPanel {
  line-height:24px;
  vertical-align:top;
  display:inline-block;
  text-align:left;
  width:75%;
  white-space:normal;
  background-color:#F0F0F0;
  margin:0px auto;
}
div#characterLeftPanel {
  text-align:center;
  display:inline-block;
  width:25%;
  margin:0px auto;
}

img#characterPreview {
  border:1px solid #000000;
  max-width:150px;
}

textarea.characterTextArea {
  height:100px;
  width:95%;
}
