table.postTable {

}
td.grayTopLeft {
  width:50px;
  height:25px;
  background-image:url("../img/gray_bubble_topleft.png");
  background-repeat:no-repeat;
}
td.grayTop {
  font-weight:bold;
  color:#FFFFFF;
  padding-left:10px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:10px;
  text-align:left;
  background-image:url("../img/gray_bubble_top.png");
  background-repeat:repeat-x;
  height:25px;
}
td.grayTopRight {
  background-image:url("../img/gray_bubble_topright.png");
  background-repeat:no-repeat;
  width:5px;
  height:25px;
}
td.grayLeft {
  width:5px;
  background-image:url("../img/gray_bubble_left.png");
  background-repeat:repeat-y;
}
td.grayMiddle {
  font-family:Verdana, Geneva, sans-serif;
  color:#FFFFFF;
  font-size:11px;
  background-color:#3F3F3F;
  text-align:left;
  white-space:normal;
  line-height:15px;
  padding:10px;
}
td.grayRight {
  background-image:url("../img/gray_bubble_right.png");
  background-repeat:repeat-y;
}
td.grayDownLeft {
  background-image:url("../img/gray_bubble_downleft.png");
  background-repeat:no-repeat;
  width:5px;
  height:5px;
}
td.grayDown {
  background-image:url("../img/gray_bubble_down.png");
  height:5px;
  background-repeat:repeat-x;
}
td.grayDownRight {
  background-image:url("../img/gray_bubble_downright.png");
  background-repeat:no-repeat;
  height:5px;
  width:5px;
}
img.userImage {
  width:40px;
  border:1px solid #000000;
}
td.greenTopLeft {
  background-image:url("../img/green_bubble_topleft.png");
  width:5px;
  height:5px;
}
td.greenTop {
  background-image:url("../img/green_bubble_top.png");
  height:5px;
  background-repeat:repeat-x;
}
td.greenTopRight {
  background-image:url("../img/green_bubble_topright.png");
  width:5px;
  height:5px;
}
td.greenLeft {
  background-image:url("../img/green_bubble_left.png");
  width:5px;
  background-repeat:repeat-y;
}
td.greenMiddle {
  font-family:Verdana, Geneva, sans-serif;
  font-size:11px;
  background-color:#2F5E5E;
  text-align:left;
  white-space:normal;
  line-height:15px;
  padding:4px;
}
td.greenRight {
  background-image:url("../img/green_bubble_right.png");
  width:5px;
  background-repeat:repeat-y;
}
td.greenDownLeft {
  background-image:url("../img/green_bubble_downleft.png");
  width:5px;
  height:25px;
}
td.greenDown {
  font-weight:bold;
  padding-right:5px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:10px;
  text-align:right;
  background-image:url("../img/green_bubble_down.png");
  background-repeat:repeat-x;
  height:25px;
}
td.greenDownRight {
  background-image:url("../img/green_bubble_downright.png");
  width:50px;
  height:25px;
}
td.brownTopLeft {
  background-image:url("../img/brown_bubble_topleft.png");
  background-repeat:no-repeat;
  width:5px;
  height:5px;
}
td.brownTop {
  background-image:url("../img/brown_bubble_top.png");
  height:5px;
  background-repeat:repeat-x;
}
td.brownTopRight {
  background-image:url("../img/brown_bubble_topright.png");
  background-repeat:no-repeat;
  width:5px;
  height:5px;
}
td.brownLeft {
  background-image:url("../img/brown_bubble_left.png");
  width:5px;
  background-repeat:repeat-y;
}
td.brownMiddle {
  font-family:Verdana, Geneva, sans-serif;
  color:#FFFFFF;
  font-size:11px;
  background-color:#3E2C26;
  text-align:left;
  white-space:normal;
  line-height:15px;
  padding:10px;
}
td.brownRight {
  background-image:url("../img/brown_bubble_right.png");
  width:5px;
  background-repeat:repeat-y;
}
td.brownDownLeft {
  background-image:url("../img/brown_bubble_downleft.png");
  background-repeat:no-repeat;
  width:5px;
  height:25px;
}
td.brownDown {
  font-weight:bold;
  padding-right:10px;
  color:#FFFFFF;
  font-family:Verdana, Geneva, sans-serif;
  font-size:10px;
  text-align:right;
  background-image:url("../img/brown_bubble_down.png");
  background-repeat:repeat-x;
  height:25px;
}
td.brownDownRight {
  background-image:url("../img/brown_bubble_downright.png");
  background-repeat:no-repeat;
  width:50px;
  height:25px;
}