<section class="bubbleParent ui-widget ui-widget-content ui-corner-bottom">
  <div class="bubbleTopBar ui-helper-reset ui-helper-clearfix ui-widget-header ui-state-default">
    <span class="title">
    </span>
    <span class="tools">
      <span class="minBtn" title="minimize"></span>
      <span class="maxBtn" title="maximize"></span>
      <span class="closeBtn" title="close"></span>
    </span>
  </div>
  <div class="bubbleContent ui-widget-content ui-corner-bottom">
  content
  </div>
</section>