
<script>
$(document).ready(function(event) {
  $('.usernameEnter').focusout(function(event) {
    if ($(this).val().length > 0) {
      $('.usernameCheck').css('visibility', 'visible');
    }
  });
  $('.passwordEnter').focusout(function(event) {
    if ($(this).val().length > 0) {
      $('.passwordCheck').css('visibility', 'visible');
    }
  });
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=623854231027617";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
});

function accountSignup() {
  spawn(450, 300, true, null, null, 'Signup', 'signup.html');
}

window.fbAsyncInit = function() {
  FB.init({
    appId      : '623854231027617',
    status     : true,
    xfbml      : true
  });
};
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
  }
(document, 'script', 'facebook-jssdk'));

(function() {
  var po = document.createElement('script');
  po.type = 'text/javascript'; po.async = true;
  po.src = 'https://plus.google.com/js/client:plusone.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(po, s);
})();

function onSignInCallback() {

}

</script>

<div class="loginParent">
<p>
  User: <input type="text" class="usernameEnter">&nbsp;<span class="usernameCheck ui-icon ui-icon-check" style="display:inline-block;visibility:hidden;"></span><br />
  Pass: <input type="password" class="passwordEnter">&nbsp;<span class="passwordCheck ui-icon ui-icon-check" style="display:inline-block;visibility:hidden;"></span>
</p>
- OR -<br />
<p>
<div class="alternateLogins">
  <div id="fb-root">
    <fb:login-button size="large">
      Sign in
    </fb:login-button>
  </div>
  &nbsp;
  <button class="g-signin"
        data-scope="https://www.googleapis.com/auth/plus.login"
        data-requestvisibleactions="http://schemas.google.com/AddActivity"
        data-clientId="847781579813-2srpkm44ggci92ko0llqa2vn2s31rsra.apps.googleusercontent.com"
        data-callback="onSignInCallback"
        data-theme="dark"
        data-cookiepolicy="single_host_origin">
        
  </button>
</div>
</p>
<div class="recoverText">Need an <a href="javascript:accountSignup();">account?</a> <a href="#">Forgot it?</a></div>