<div class="loginParent">
  <p>
    User: <input type="text" class="usernameEnter">&nbsp;<span class="usernameCheck ui-icon ui-icon-check" style="display:inline-block;visibility:hidden;"></span><br />
    Pass: <input type="password" class="passwordEnter">&nbsp;<span class="passwordCheck ui-icon ui-icon-check" style="display:inline-block;visibility:hidden;"></span>
  </p>
  <p>- OR -</p>
  <p>
    <div class="alternateLogins">
      <div id="fb-root">
        <fb:login-button size="large">Sign in</fb:login-button>
      </div>&nbsp;
      <button class="g-signin"
        data-scope="https://www.googleapis.com/auth/plus.login"
        data-requestvisibleactions="http://schemas.google.com/AddActivity"
        data-clientId="847781579813-2srpkm44ggci92ko0llqa2vn2s31rsra.apps.googleusercontent.com"
        data-callback="onSignInCallback"
        data-theme="dark"
        data-cookiepolicy="single_host_origin">  
      </button>
    </div>
  </p>
  <div class="recoverText">Need a <a href="#" class="signupClick">non-social media account?</a> <a href="#">Forgot it?</a></div>
</div>
