<div class="loginParent">
  <p>
    User: <input type="text" class="usernameEnter">&nbsp;<span class="usernameCheck ui-icon ui-icon-check" style="display:inline-block;visibility:hidden;"></span><br />
    Pass: <input type="password" class="passwordEnter">&nbsp;<span class="passwordCheck ui-icon ui-icon-check" style="display:inline-block;visibility:hidden;"></span>
  </p>
  <p class="loginWarning"></p>
  <div class="recoverText">Need an <a href="#" class="signupClick">account?</a> <a href="#">Forgot it?</a></div>
</div>
