<section id="menuBlock" class="ui-widget ui-corner-all">
  <div id="menuTitle" class="ui-helper-reset ui-helper-clearfix ui-widget-header ui-state-default ui-corner-all">
    <span id="menuTitleArrow" class="ui-state-focus"></span>
    <span id="menuTitleText">Menu</span>
    
  </div>
  <div id="menuContent" class="ui-widget-content ui-corner-bottom">
    <ul id="siteMenu" class="ui-menu">
      <li>
        <a href="#" id="menuItemLogin">Login</a>
      </li>
      <li class="ui-state-disabled">
        <a href="#">Quests</a>
      </li>
      <li class="ui-state-disabled">
        <a href="#">Characters</a>
      </li>
      <li>
        <a href="#">Tools</a>
        <ul>
          <li class="ui-state-disabled">
            <a href="#">Dice Roller</a>
          </li>
          <li class="ui-state-disabled">
            <a href="#">Random Event</a>
          </li>
          <li class="ui-state-disabled">
            <a href="#">Spell Effects</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Settings</a>
        <ul>
          <li>
            <a href="#">Site Themes</a>
            <ul class="themeList">
              <li class="ui-state-disabled">
                <a id="currentTheme"></a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>