<div class="signupParent">
    <table cellspacing="0" border="0" cellpadding="0">
      <tr valign="middle" >
        <td class="formLabel">User:</td>
        <td><input type="text" class="signupUsernameEnter"></td>
        <td align="left">
          <span class="signupUsernameCheck ui-icon ui-icon-check noDisplay"></span>
          <span class="signupUsernameError ui-icon ui-icon-close noDisplay"></span>
        </td>
        <td class="errorWarning signupUsernameWarning"></td>
      </tr>
      <tr valign="middle" >
        <td class="formLabel">Password:</td>
        <td><input type="text" class="signupPasswordEnter"></td>
        <td align="left">
          <span class="signupPasswordCheck ui-icon ui-icon-check noDisplay"></span>
          <span class="signupPasswordError ui-icon ui-icon-close noDisplay"></span>
        </td>
        <td class="errorWarning signupPasswordWarning"></td>
      </tr>
      <tr valign="middle" >
        <td class="formLabel">Confirm Password:</td>
        <td><input type="text" class="signupPasswordRepeat"></td>
        <td align="left">
          <span class="signupPasswordRepeatCheck ui-icon ui-icon-check noDisplay"></span>
          <span class="signupPasswordRepeatError ui-icon ui-icon-close noDisplay"></span>
        </td>
        <td class="errorWarning signupPasswordRepeatWarning"></td>
      </tr>
      <tr valign="middle" >
        <td class="formLabel">Email:</td>
        <td><input type="text" class="signupEmailEnter"></td>
        <td align="left">
          <span class="signupEmailCheck ui-icon ui-icon-check noDisplay"></span>
          <span class="signupEmailError ui-icon ui-icon-close noDisplay"></span>
        </td>
        <td class="errorWarning signupEmailWarning"></td>
      </tr>
      <tr valign="middle" >
        <td class="formLabel">Confirm Email:</td>
        <td><input type="text" class="signupEmailRepeat"></td>
        <td align="left">
          <span class="signupEmailRepeatCheck ui-icon ui-icon-check noDisplay"></span>
          <span class="signupEmailRepeatError ui-icon ui-icon-close noDisplay"></span>
        </td>
        <td class="errorWarning"></td>
      </tr>
      <tr>
        <td colspan="2" class="alignCenter"><button class="createBtn">submit</button></td><td colspan="2">&nbsp;</td>
      </tr>
    </table>
</div>