<img alt="player menu" src="img/player_menu_title.gif"><br />
<span id="logoutBtn">logout</span><br />
<span>user profile</span><br />
<span>list users</span><br />
<span>contact form</span><br />
<span>create character</span><br />
<span>edit character</span><br />
<span>delete character</span><br />
<span>view character</span><br />
<span>search quests</span><br />
<span>access logs</span><br /><br />
<img alt="gm menu" src="img/gm_menu_title.gif"><br />
<span>host new quest</span><br />
<span>edit quest</span></br />
<span>quest members</span><br />
<span>edit backstory</span><br />
<span id="generateNPCBtn">generate NPC</span>