<div style="padding:10px;height:100%;">
  <div style="height:25px;margin-bottom:10px;">
    <div style="inline-block;float:left;min-width:100px;text-align:right;">quest name&nbsp;</div>
    <input type="text" style="width:200px;"><br />
  </div>
  <div style="height:25px;margin-bottom:10px;">
    <div style="inline-block;width:50%;box-sizing:border-box;float:left;">
      <div style="inline-block;float:left;min-width:100px;text-align:right;">players&nbsp;</div>
      <input type="text" id="playerList" style="width:200px;">
      <span id="addedPlayers"></span>
    </div>
    <div style="inline-block;width:50%;box-sizing:border-box;float:left;">
      <div style="inline-block;float:left;min-width:100px;text-align:right;">viewable&nbsp;</div>
      <select style="width:200px;">
        <option value="public">public</option>
        <option value="private">participants</option>
        <option value="me">only me</option>
      </select>
    </div>
  </div>
  <div style="margin-bottom:10px;">
    <div style="inline-block;width:50%;box-sizing:border-box;float:left;">
      <div style="inline-block;float:left;min-width:100px;text-align:right;">backstory&nbsp;</div>
      <div style="overflow:hidden;">
        <textarea style="width:98%;height:300px;"></textarea>
      </div>
    </div>
    <div style="inline-block;width:50%;box-sizing:border-box;float:left;">
      <div style="inline-block;float:left;min-width:100px;text-align:right;">first post&nbsp;</div>
      <div style="overflow:hidden;">
        <textarea style="width:98%;height:300px;"></textarea>
      </div>
    </div>
  </div>
</div>