<div id="questListingsLeft">
<table id="gmQuests">
  <thead>
    <th>GM Quests</th>
    <th># Posts</th>
    <th>GM</th>
    <th>Last Post By</th>
    <th>Posted on</th>
  </thead>
  <tbody>
  </tbody>
</table><br />
<table id="playerQuests">
  <thead>
    <th>Player Quests</th>
    <th># Posts</th>
    <th>GM</th>
    <th>Last Post By</th>
    <th>Posted on</th>
  </thead>
  <tbody>
  </tbody>
</table><br />
<table id="otherQuests">
  <thead>
    <th>Other Quests</th>
    <th># Posts</th>
    <th>GM</th>
    <th>Last Post By</th>
    <th>Posted on</th>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<div id="questListingsRight">
<img src="img/player_menu_title.gif" alt="player menu"><br />
<span id="logoutBtn">logout</span><br />
<span>user profile</span><br />
<span>list users</span><br />
<span>contact form</span><br />
<span>create character</span><br />
<span>edit character</span><br />
<span>delete character</span><br />
<span>view characters</span><br />
<span>search quests</span><br />
<span>access logs</span><br /><br />
<img src="img/gm_menu_title.gif" alt="gm menu"><br />
<span>host new quest</span><br />
<span>edit quests</span><br />
<span>quesst members</span><br />
<span>edit backstory</span><br />
</div>