<div id="questListings">
  <table id="gmQuests">
    <thead>
      <th>GM Quests</th>
      <th># Posts</th>
      <th>Last Post By</th>
      <th>Posted on</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table><br />
  <table id="playerQuests">
    <thead>
      <th>Player Quests</th>
      <th># Posts</th>
      <th>GM</th>
      <th>Last Post By</th>
      <th>Posted on</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table><br />
  <table id="otherQuests">
    <thead>
      <th>Other Quests</th>
      <th># Posts</th>
      <th>GM</th>
      <th>Last Post By</th>
      <th>Posted on</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>