<div id="quest">
<span class="questMenu">« home&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;story view&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;order&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;refresh&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;post</span>
<span class="questNavigation" style="margin-right:-5px;"></span>
<div id="questContent"></div>
<div class="questNavigation" style="margin-top:10px;margin-right:-5px;"></div>
</div>