<div id="quest">
<span class="questMenu">« home&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;story view&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;order&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;« last page&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;beginning&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;next page »&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;refresh&nbsp;&nbsp;&nbsp;|</span>
<span class="questMenu">&nbsp;&nbsp;&nbsp;post</span>
<div id="questContent"></div>
</div>