body {
  background-color:#36373B;
  font-family:Verdana,sans-serif;
  font-size:10px;
  color:#999;
  letter-spacing: 0.1mm;
  line-height:20px;
  margin:10 20;s
  box-sizing:border-box;
}

hr {
  border-width: 1px 0px 0px;
  border-style: dashed none none;
  border-color: #222;
  height: 1px;
  width: 100%;
  text-align: left;
  float:left;
  margin-top:10px;
  margin-bottom:10px;
}

button {
  border-width: 1px;
  border-style: outset inset inset outset;
  border-color: #848383;
  background-color: #3B3B3B;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  cursor:pointer;
}


footer {
  position:relative;
  height:15px;
  text-align:center;
  width:100%;
  float:left;
}

#leftHeader {
  width:75%;
}

.loginBox {
  float:right;
  width:25%;
  color:#fff;
  font-weight:bold;
  text-align:right;
}
.greetingBox {
  float:right;
  color:#fff;
  font-weight:normal;
  text-align:right;
  width:25%;
  height:48px;
  line-height:14px;
  padding-top:10px;
}
.loginBox input,button {
  width: 150px;
}

.field {
  border-width: 1px;
  border-style: outset inset inset outset;
  border-color: #848383;
  background-color: #000;
  color: #FFF;
  font-size:10px;
  letter-spacing: 0.1mm;
}

#mainContent {
  width:100%;
  min-height:500px;
  color:#fff;
}

#questListingsLeft {
  width:75%;
  float:left;
}
#questListingsRight {
  width:25%;
  float:right;
  text-align:right;
  padding-top:22px;
}

#questListingsRight span {
  color:#ccc;
  cursor:pointer;
  font-weight:bold;
  letter-spacing: 0.1mm;
}
#questListingsRight span:hover {
  color:#fff;
}
#questListingsLeft table {
  width:100%;
  border-spacing:0;
}
#questListingsLeft th {
  color:#ccc;
  text-align:left;
  cursor:pointer;
  border-bottom: 1px solid #000;
  font-weight:normal;
}
#questListingsLeft th:hover {
  color:#fff;
}
#questListingsLeft td {
  padding:2px;
  color:#000;
  white-space:nowrap;
}

.logTable {
  color: #000;
  font-weight: normal;
  font-size: 10px;
  font-family: verdana,sans-serif;
  text-decoration: none;
  letter-spacing: 0.1mm;
}
.log-left {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.log-left:hover {
  color:#fff !important;
  cursor:pointer;
}
.log-cell {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.log-right {
    
}

.even {
  background-color:#535456;
}
.odd {
  background-color:#656566;
}
.clear{clear:both;}
.floatLeft{float:left;}