<h2>GM Quests</h2>
<table class="questsTable" id="gmQuests">
  <thead>
    <tr>
      <th>Quest</th>
      <th># Posts</th>
      <th>Last Post</th>
      <th>GM</th>
      <th>Players</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<h2 style="margin-top:50px;">Player Quests</h2>
<table class="questsTable" id="playerQuests">
  <thead>
    <tr>
      <th>Quest</th>
      <th># Posts</th>
      <th>Last Post</th>
      <th>GM</th>
      <th>Players</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<h2 style="margin-top:50px;">Other Quests</h2>
<table class="questsTable" id="otherQuests">
  <thead>
    <tr>
      <th>Quest</th>
      <th># Posts</th>
      <th>Last Post</th>
      <th>GM</th>
      <th>Players</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>