div#bubbleDiv {
  position:absolute;
  white-space:nowrap;
}
div#topBar {
  display:table;
  width:100%;
}
div#verticalTrack {
  position:relative;
  width:1px;
  background-color:#C7C7C7;
}
div#horizontalTrack {
  position:relative;
  height:1px;
  background-color:#C7C7C7;
}
div#titleDiv {
  position:relative;
  top: -0.5px;
  font-size:10px;
  display:inline;
  width:100%;
  white-space:nowrap;

}

span#draggerDiv {
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
}

span#leftIcons {
  display:table-cell;
  position:relative;
  text-align:left;
  height:100%;
  width:100%;
  vertical-align:middle;
}
span#rightIcons {
  display:table-cell;
  position:relative;
  text-align:right;
  height:100%;
  vertical-align:middle;
}
img#favIcon {
  position:relative;
  float:left;
  top:2px;
  margin-right:5px;
}
div.scrollDragger {
  border-radius:5px;
  position:absolute;
  background-color:#31979B;
}
div.scrollDragger:hover {
  cursor:pointer;
}
a.rightButtons {
  margin-right:5px;
}
.floatRight {
  float:right;
}
.floatLeft {
  float:left;
}